<?nextrec?>
<?definegroup 1 "=$sectionnumber1$="?>
<?definegroup 2 "=$sectionnumber2$="?>
<?definegroup 3 "=$sectionnumber3$="?>
<?definegroup 4 "=$sectionnumber4$="?>
<?definegroup 5 "=$sectionnumber5$="?>
<?definegroup 6 "=$sectionnumber6$="?>
<?definegroup 7 "=$sectionnumber7$="?>
<?ifendlist 7?>
          </ul>
<?endif?>
<?ifendlist 6?>
        </ul>
<?endif?>
<?ifendlist 5?>
      </ul>
<?endif?>
<?ifendlist 4?>
    </ul>
<?endif?>
<?ifendlist 3?>
  </ul>
<?endif?>
<?ifendgroup 4?>
<?ifendgroup 3?>
<?ifendgroup 2?>
<table border=0 width="100%">
  <tr>
    <td class=headerBig width="67%">
      &nbsp;
    </td>
    <td class=headerRight width="11%">
      &nbsp;
    </td>
    <td class=headerRight width="11%">
      &nbsp;
    </td>
    <td class=headerRight width="11%">
      <a href="page=$nextpage&3$=.html">
        Next
      </a>
    </td>
  </tr>
</table>
<!-- #bbinclude "footer.html" -->
<hr size="2" width="100%">
<table border=0 width="100%">
  <tr>
    <td class=footer width="25%">
      =$today&MMMM dd, yyyy hh:mm aa$=
    </td>
    <td class=footerCenter width="50%">
      =$title1$=
    </td>
    <td class=footerRight width="25%">
        Page =$page$=
    </td>
  </tr>
</table>
</body>
</html>
<!-- end bbinclude -->
<?ifendgroup 1?>
<?set page ++?>
<?set priorpage ++?>
<?output "../web/page=$page&3$=.html"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>=$text$=</title>
	<link rel=stylesheet href="./styles.css" type="text/css"
		title="PSTextMerge Presentation Stylesheet">
</head>
<!-- #bbinclude "bodytag.html" -->
<body bgcolor="#003300">
<!-- end bbinclude -->
<table border=0 width="100%">
  <tr>
    <td class=headerBig width="67%">
    <?if "=$fromlink$="?>
    <a href="=$fromlink$=">
    <?endif?>
      =$from$=
    <?if "=$fromlink$="?>
    </a>
    <?endif?>
    </td>
    <td class=headerRight width="11%">
      <a href="page001.html">
        Home
      </a>
    </td>
    <td class=headerRight width="11%">
      <a href="page=$priorpage&3$=.html">
        Prior
      </a>
    </td>
    <td class=headerRight width="11%">
      &nbsp;
    </td>
  </tr>
</table>
<hr size="2" width="100%">
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<center>
<h2>End of Presentation</h2>
</center>
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;

<table border=0 width="100%">
  <tr>
    <td class=headerBig width="67%">
      &nbsp;
    </td>
    <td class=headerRight width="11%">
      &nbsp;
    </td>
    <td class=headerRight width="11%">
      &nbsp;
    </td>
    <td class=headerRight width="11%">
      &nbsp;
    </td>
  </tr>
</table>
<!-- #bbinclude "footer.html" -->
<hr size="2" width="100%">
<table border=0 width="100%">
  <tr>
    <td class=footer width="25%">
      =$today&MMMM dd, yyyy hh:mm aa$=
    </td>
    <td class=footerCenter width="50%">
      =$title1$=
    </td>
    <td class=footerRight width="25%">
        Page =$page$=
    </td>
  </tr>
</table>
</body>
</html>
<!-- end bbinclude -->
<?ifnewgroup 1?>
<?set title1 = "=$text$="?>
<?set priorpage = 1?>
<?set page = 2?>
<?set nextpage = 3?>
<?ifnewgroup 2?>
<?if =$sectionnumber2$= > 1?>
<?set page ++?>
<?set nextpage ++?>
<?set priorpage ++?>
<?output "../web/page=$page&3$=.html"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>=$text$=</title>
	<link rel=stylesheet href="./styles.css" type="text/css"
		title="PSTextMerge Presentation Stylesheet">
</head>
<!-- #bbinclude "bodytag.html" -->
<body bgcolor="#003300">
<!-- end bbinclude -->
<table border=0 width="100%">
  <tr>
    <td class=headerBig width="67%">
    <?if "=$fromlink$="?>
    <a href="=$fromlink$=">
    <?endif?>
      =$from$=
    <?if "=$fromlink$="?>
    </a>
    <?endif?>
    </td>
    <td class=headerRight width="11%">
      <a href="page001.html">
        Home
      </a>
    </td>
    <td class=headerRight width="11%">
      <a href="page=$priorpage&3$=.html">
        Prior
      </a>
    </td>
    <td class=headerRight width="11%">
      <a href="page=$nextpage&3$=.html">
        Next
      </a>
    </td>
  </tr>
</table>
<hr size="2" width="100%">
<h1>=$text$=</h1>
<?endif?>
<?ifnewgroup 3?>
<?if =$sectionnumber2$= = 1?>
<?set from = "=$text$="?>
<?if "=$link$="?>
<?set fromlink = "=$link$="?>
<?endif?>
<?endif?>
<?if =$sectionnumber2$= > 1?>
<?endif?>
<?ifnewgroup 4?>
<?endif?>
<?ifnewlist 3?>
<?if =$sectionnumber2$= > 1?>
  <ul>
<?endif?>
<?ifnewlist 4?>
<?if =$sectionnumber2$= > 1?>
    <ul>
<?endif?>
<?ifnewlist 5?>
<?if =$sectionnumber2$= > 1?>
      <ul>
<?endif?>
<?ifnewlist 6?>
<?if =$sectionnumber2$= > 1?>
        <ul>
<?endif?>
<?ifnewlist 7?>
<?if =$sectionnumber2$= > 1?>
          <ul>
<?endif?>
<?endif?>
<?if =$headingflag$= eq true?>
<?if =$level$= gt 2?>
	         <li>
<?if "=$link$="?>
		        <a href="=$link$=">
<?endif?>
			       =$text$=
<?if "=$link$="?>
		        </a>
<?endif?>
	         </li>
<?endif?>
<?endif?>
<?if =$headingflag$= eq false?>
            <p class=para=$level$=>
<?if "=$link$="?>
		        <a href="=$link$=">
<?endif?>
                =$text$=
<?if "=$link$="?>
		        </a>
<?endif?>
            </p>
<?endif?>
<?loop?>

